main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.die-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
}

.die-button:hover {
    background-color: #59E391;
}
