main {
    background-color: #F5F5F5;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

button {
    font-family: Karla, sans-serif;
    cursor: pointer;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.dice-container button {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: none;
    background-color: white;
    font-family: Karla, sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

button.roll-dice {
    font-family: "Karla", sans-serif;
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 6px;
    background-color: #5035FF;
    color: white;
    font-size: 1.2rem;
}

.die-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.die-button:hover {
    background-color: #59E391;
}
